flows.json
[{"id":"39061b7f.ffadb4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ebffd51.736644","type":"ui_form","z":"39061b7f.ffadb4","name":"","label":"","group":"325e8540.b2bd7a","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":180,"y":120,"wires":[["e3dc652a.599e18","19aa8e46.eff362"]]},{"id":"e3dc652a.599e18","type":"debug","z":"39061b7f.ffadb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"19aa8e46.eff362","type":"function","z":"39061b7f.ffadb4","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["5c857b5d.024194"]]},{"id":"5c857b5d.024194","type":"cloudant out","z":"39061b7f.ffadb4","name":"cloud","cloudant":"","database":"firstdatabase","service":"node-red-homei-2020--cloudant-1597403266156-21689","payonly":true,"operation":"insert","x":560,"y":220,"wires":[]},{"id":"e0cd6a52.6e4c38","type":"ui_form","z":"39061b7f.ffadb4","name":"","label":"","group":"2e1e43ca.4618fc","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":360,"wires":[["8fc3056c.09ed68"]]},{"id":"8fc3056c.09ed68","type":"function","z":"39061b7f.ffadb4","name":"","func":"global.set('emailid', msg.payload.email);\nglobal.set('password', msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":360,"wires":[["cd348dab.ac34c"]]},{"id":"cd348dab.ac34c","type":"function","z":"39061b7f.ffadb4","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload='emailid:'+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":360,"wires":[["8c9cf55f.6f7ed8"]]},{"id":"8c9cf55f.6f7ed8","type":"cloudant in","z":"39061b7f.ffadb4","name":"","cloudant":"","database":"firstdatabase","service":"node-red-homei-2020--cloudant-1597403266156-21689","search":"_idx_","design":"user","index":"user","x":760,"y":360,"wires":[["888b1ada.531918"]]},{"id":"888b1ada.531918","type":"function","z":"39061b7f.ffadb4","name":"","func":"if (msg.payload[0].password===global.get('password')){\n    msg.payload='Login Successfull';\n    \n}\nelse{\n    msg.payload='Login Failed'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":360,"wires":[["29103404.966c5c","c65f466f.aa2268"]]},{"id":"29103404.966c5c","type":"debug","z":"39061b7f.ffadb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":460,"wires":[]},{"id":"c65f466f.aa2268","type":"ui_text","z":"39061b7f.ffadb4","group":"2e1e43ca.4618fc","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":360,"wires":[]},{"id":"9e9c8a21.b48738","type":"ui_form","z":"39061b7f.ffadb4","name":"","label":"","group":"dba9f932.ce53e8","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":560,"wires":[["2c665a0b.0f80f6"]]},{"id":"2c665a0b.0f80f6","type":"function","z":"39061b7f.ffadb4","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":580,"wires":[["dc36428c.0b475"]]},{"id":"dc36428c.0b475","type":"watson-conversation-v1","z":"39061b7f.ffadb4","name":"","workspaceid":"a79b8447-26f7-4a27-9200-37cadc7f065f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.au-syd.assistant.watson.cloud.ibm.com/instances/4c7f5705-bc55-454f-82f3-5b14e01cbbda","timeout":"","optout-learning":false,"x":580,"y":560,"wires":[["f6bb69e6.c69548","faa4f0aa.77a8c"]]},{"id":"f6bb69e6.c69548","type":"debug","z":"39061b7f.ffadb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"faa4f0aa.77a8c","type":"function","z":"39061b7f.ffadb4","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":620,"wires":[["8f05a199.4cde","70b526e7.219f08"]]},{"id":"8f05a199.4cde","type":"ui_text","z":"39061b7f.ffadb4","group":"dba9f932.ce53e8","order":1,"width":"6","height":"6","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":580,"wires":[]},{"id":"70b526e7.219f08","type":"ui_audio","z":"39061b7f.ffadb4","name":"","group":"dba9f932.ce53e8","voice":"","always":"","x":930,"y":680,"wires":[]},{"id":"325e8540.b2bd7a","type":"ui_group","z":"","name":"Reg Form","tab":"27974a33.302706","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e1e43ca.4618fc","type":"ui_group","z":"","name":"Login Form","tab":"9bbbb6ce.c5f4b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"dba9f932.ce53e8","type":"ui_group","z":"","name":"Bot","tab":"ee8c2ea5.11041","order":1,"disp":true,"width":"6","collapse":false},{"id":"27974a33.302706","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"9bbbb6ce.c5f4b8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee8c2ea5.11041","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false}]